<% layout('layout') %>


    <section class="fd2">
        <div class="con-mid fo2">
            <p>booking</p>

        </div>
    </section>




    <style>
        #list5 {
            color: #fff700;
            border-bottom: #9fcce2 5px solid;
            height: 60px;
        }
    </style>