<% layout('layout') %>

    <!-- 麵包屑 -->
    <section class="fl5 w100 breadCrumb">
        <div class="con-mid fl4">
            <a href="/">首頁</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
            <a href="/search">我要買車</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
            <a href="#">TOYOTA</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
            <a href="#">ALTIS</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp; TOYOTA ALTIS 2017年 臺南市二手中古車
        </div>
    </section>


    <section class="fd2 w100 row-50">
        <div class="con-mid fl1">

            <!-- 限制最多上傳 10張 -->
            <div id="app" data-state="0">
                <div class="ui-big-images">
                    <div class="ui-big-image" data-key="0">
                        <img src="./../images/p_car01.jpg" alt="">
                    </div>
                    <div class="ui-big-image" data-key="1">
                        <img src="./../images/p_car01-1.jpg" alt="" />
                    </div>
                    <div class="ui-big-image" data-key="2">
                        <img src="./../images/p_car01-2.jpg" alt="" />
                    </div>
                    <div class="ui-big-image" data-key="3">
                        <img src="./../images/p_car01-3.jpg" alt="" />
                    </div>
                    <div class="ui-big-image" data-key="4">
                        <img src="https://picsum.photos/1200/1200/?image=836" alt="" />
                    </div>
                    <div class="ui-big-image" data-key="5">
                        <img src="https://picsum.photos/1200/1200/?image=823" alt="" />
                    </div>
                    <div class="ui-big-image" data-key="6">
                        <img src="https://picsum.photos/1200/1200/?image=823" alt="" />
                    </div>
                    <div class="ui-big-image" data-key="7">
                        <img src="https://picsum.photos/1200/1200/?image=823" alt="" />
                    </div>
                    <div class="ui-big-image" data-key="8">
                        <img src="https://picsum.photos/1200/1200/?image=823" alt="" />
                    </div>
                    <div class="ui-big-image" data-key="9">
                        <img src="./../images/p_car01-1.jpg" alt="" />
                    </div>
                </div>
                <div class="ui-thumbnails">
                    <div class="uiin fl4">

                        <div class="ui-thumbnail" tabindex="-1" data-key="0">
                            <img src="./../images/p_car01.jpg" alt="">
                            <div class="ui-cuticle" data-flip-key="cuticle"></div>
                        </div>
                        <div class="ui-thumbnail" tabindex="-1" data-key="1">
                            <img src="./../images/p_car01-1.jpg" alt="" />
                            <div class="ui-cuticle" data-flip-key="cuticle"></div>
                        </div>
                        <div class="ui-thumbnail" tabindex="-1" data-key="2">
                            <img src="./../images/p_car01-2.jpg" alt="" />
                            <div class="ui-cuticle" data-flip-key="cuticle"></div>
                        </div>
                        <div class="ui-thumbnail" tabindex="-1" data-key="3">
                            <img src="./../images/p_car01-3.jpg" alt="" />
                            <div class="ui-cuticle" data-flip-key="cuticle"></div>
                        </div>
                        <div class="ui-thumbnail" tabindex="-1" data-key="4">
                            <img src="https://picsum.photos/1200/1200/?image=836" alt="" />
                            <div class="ui-cuticle" data-flip-key="cuticle"></div>
                        </div>
                        <div class="ui-thumbnail" tabindex="-1" data-key="5">
                            <img src="https://picsum.photos/1200/1200/?image=823" alt="" />
                            <div class="ui-cuticle" data-flip-key="cuticle"></div>
                        </div>
                        <div class="ui-thumbnail" tabindex="-1" data-key="6">
                            <img src="https://picsum.photos/1200/1200/?image=823" alt="" />
                            <div class="ui-cuticle" data-flip-key="cuticle"></div>
                        </div>
                        <div class="ui-thumbnail" tabindex="-1" data-key="7">
                            <img src="https://picsum.photos/1200/1200/?image=823" alt="" />
                            <div class="ui-cuticle" data-flip-key="cuticle"></div>
                        </div>
                        <div class="ui-thumbnail" tabindex="-1" data-key="8">
                            <img src="https://picsum.photos/1200/1200/?image=823" alt="" />
                            <div class="ui-cuticle" data-flip-key="cuticle"></div>
                        </div>
                        <div class="ui-thumbnail" tabindex="-1" data-key="9">
                            <img src="./../images/p_car01-1.jpg" alt="" />
                            <div class="ui-cuticle" data-flip-key="cuticle"></div>
                        </div>
                    </div>
                </div>
                <div class="ui-content">
                    <nav class="ui-nav fo2">
                        <button id="prev" tabindex="-1" title="Previous">&lt;</button>
                        <button id="next" tabindex="-1" title="Next">&gt;</button>
                    </nav>
                </div>

                <button class="lileft" title="Previous">&lt;</button>
                <button class="liright" title="Next">&gt;</button>

            </div>

            <div class="acrliright fd1">
                <h1 class="infos-head-title fl4">Mitsubishi Grand Lancer 2017款 手自排 1.8L</h1>
                <div class="infos-head-desp fl4">豐駿汽車2016省油省稅大馬力 520d 頂級環景 電尾門 導航倒顯 超美保固中</div>
                <div class="car-price-box fl7"><b>58.8</b>萬</div>
                <div class="infos-head-text fd1">
                    <div>年　份　：<span>2017</span></div>
                    <div>排氣量　：<span>1600</span></div>
                    <div>顏　色　：<span>白色系</span></div>
                    <div>變速系統：<span>手自排</span></div>
                    <div>傳動系統：<span>2WD</span></div>
                    <div>引擎燃料：<span>柴油車</span></div>
                    <div>里程數　：<span>44747 公里</span></div>
                    <div>車門數　：<span>4門</span></div>
                    <div>乘客數　：<span>5</span></div>
                </div>
                <div class="fl4 w100">
                    <a class="line-btn fl5" target="_blank" href="https://line.me/ti/p/Q1m2ST-Isa">
                        LINE聯絡賣家
                    </a>
                    <button class="line-btn-1 fl5" href="#">
                        加入比較
                    </button>
                    <button class="line-btn-1 fl5" href="#">
                        加入收藏
                    </button>
                </div>

                <div class="carcontact fl4">
                    王小明<span>0912345678</span>
                </div>
            </div>

        </div>
    </section>



    <section class="fd2 w100 row-100">
        <div class="con-mid fd2">

            <div class="log-btnbox fl5">
                <div class="Hbtn1 fl5">車輛配備</div>
                <div class="Hbtn1 fl5">特色說明</div>
            </div>

            <div class="fd2 w100">

                <div id="tab1" class="tab_content2 fd1">
                    <h1 class="cartitle fl4">車輛配備</h1>

                    <div class="secTitle w100 fd1">
                        <h1 class="w100 fl4">外觀配備</h1>
                        <div class="secTitleli fl1 fw">
                            <p class="sec_ok">鋁圈</p>
                            <p>天窗</p>
                            <p>全景天窗</p>
                            <p>電動尾門</p>
                            <p>電動滑門</p>
                            <p>防眩後視鏡</p>
                            <p class="sec_ok">電動後視鏡</p>
                            <p>後視鏡方向指示燈</p>
                            <p>車頂行李架</p>
                            <p>空力套件</p>
                        </div>
                    </div>

                    <div class="secTitle w100 fd1">
                        <h1 class="w100 fl4">燈光配備</h1>
                        <div class="secTitleli fl1 fw">
                            <p class="sec_ok">霧燈</p>
                            <p>前霧燈</p>
                            <p>HID頭燈</p>
                            <p class="sec_ok">LED頭燈</p>
                            <p>LED日行燈</p>
                            <p>LED尾燈</p>
                            <p class="sec_ok">主動轉向頭燈</p>
                            <p>光感應式頭燈</p>
                            <p>頭燈水平調整</p>
                            <p>迎賓踏板燈</p>
                        </div>
                    </div>

                    <div class="secTitle w100 fd1">
                        <h1 class="w100 fl4">內裝配備</h1>
                        <div class="secTitleli fl1 fw">
                            <p class="sec_ok">皮椅</p>
                            <p>賽車椅</p>
                            <p>第三排座椅</p>
                            <p class="sec_ok">電動窗</p>
                            <p>電動座椅</p>
                            <p>電動腰靠</p>
                            <p class="sec_ok">後座分離傾倒</p>
                            <p>衛星導航</p>
                            <p>多功能行車資訊顯示器</p>
                            <p>液晶螢幕</p>
                            <p>抬頭顯示器</p>
                            <p>方向盤換檔控制</p>
                            <p>方向盤音響控制</p>
                            <p>換檔撥片</p>
                            <p>恆溫空調</p>
                            <p>左右獨立空調</p>
                            <p>後座出風口</p>
                            <p>車內粉塵過濾</p>
                            <p>後遮陽簾</p>
                        </div>
                    </div>

                    <div class="secTitle w100 fd1">
                        <h1 class="w100 fl4">其  他</h1>
                        <div class="secTitleli fl1 fw">
                            <p class="sec_ok">4WD</p>
                            <p>備胎</p>
                            <p>一手車</p>
                            <p class="sec_ok">渦輪增壓</p>
                            <p>晶片系統</p>
                            <p>核桃木飾板</p>
                            <p>氣壓懸吊</p>
                        </div>
                    </div>

                    <div class="secTitle w100 fd1">
                        <h1 class="w100 fl4">駕駛輔助</h1>
                        <div class="secTitleli fl1 fw">
                            <p>Keyless/免鑰匙系統</p>
                            <p>Push Start/按鈕式發車</p>
                            <p class="sec_ok">感應式雨刷</p>
                            <p>定速系統</p>
                            <p>倒車雷達</p>
                            <p>車前距雷達</p>
                            <p>倒車顯影</p>
                            <p>PVM/環景系統</p>
                            <p>APA/自動停車系統</p>
                            <p>BSM/盲點偵測系統</p>
                            <p>StopStart/怠速熄火系統</p>
                            <p>HSA/斜坡起步輔助 </p>
                            <p>LDWS/車道偏離警示系統</p>
                            <p>ACC/主動式巡航系統</p>
                        </div>
                    </div>

                    <div class="secTitle w100 fd1">
                        <h1 class="w100 fl4">安全輔助</h1>
                        <div class="secTitleli fl1 fw">
                            <p>中控鎖</p>
                            <p>防盜系統</p>
                            <p>安全氣囊</p>
                            <p>ABS/防鎖死煞車系統</p>
                            <p>EBD/煞車力道分配系統 </p>
                            <p class="sec_ok">BAS/煞車力道輔助系統</p>
                            <p>AEB/自動緊急煞車系統 </p>
                            <p>TCS/循跡防滑系統</p>
                            <p>ESP/車身動態穩定系統</p>
                            <p>ISOFIX/兒童安全椅固定</p>
                            <p>兒童安全鎖</p>
                            <p>TPMS/胎壓監控</p>
                        </div>
                    </div>

                    <div class="secTitle w100 fd1">
                        <h1 class="w100 fl4">影音配備</h1>
                        <div class="secTitleli fl1 fw">
                            <p>CD</p>
                            <p>CD筒</p>
                            <p>VCD</p>
                            <p>DVD</p>
                            <p>USB插槽</p>
                            <p>中控螢幕</p>
                            <p>數位電視</p>
                            <p>藍牙通訊</p>
                            <p>音響主機</p>
                            <p>外部音源接入</p>
                        </div>
                    </div>

                    <h1 class="cartitle fl4">車輛規格</h1>

                    <div class="secTitle w100 fd1">
                        <div class="secTitleli fl1 fw">
                            <div class="sec_downtxt fl4">變速系統<span>手自排</span></div>
                            <div class="sec_downtxt fl4">引擎燃料<span>柴油車</span></div>
                            <div class="sec_downtxt fl4">驅動方式<span>2WD</span></div>
                            <div class="sec_downtxt fl4">車門數<span>4門</span></div>
                            <div class="sec_downtxt fl4">乘客數<span>5</span></div>
                            <div class="sec_downtxt fl4">里程紀錄<span>44747 公里</span></div>
                        </div>
                    </div>

                </div>

                <div id="tab2" class="tab_content2 fd1">
                    <!-- 文字編輯器內容 -->
                    <p style="color: crimson; font-size: 2.2rem; margin-bottom: 20px;">文字編輯器內容</p>
                    <p style="margin-bottom: 30px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eum excepturi natus numquam consequatur, minima cumque quis laboriosam dolorum facere culpa neque minus! Voluptatum, odit dolorum iste soluta facere quas!</p>
                    <img src="./../images/S__172924931(001).jpg" alt="">
                    <img src="./../images/S__172924932(001).jpg" alt="">
                    <img src="./../images/S__172924933(001).jpg" alt="">
                </div>

            </div>

        </div>
    </section>






    <!-- 小圖左右箭頭 -->
    <script>
        $(document).ready(function () {

            x = $('.uiin').outerWidth();

            if (x <= 600) {
                $('.lileft').css({ "display": 'none' });
                $('.liright').css({ "display": 'none' });
            } else {
                $('.lileft').css({ "display": 'none' });
            }

            $('.liright').click(function () {
                $('.uiin').css({ "left": '-600px' });
                $('.lileft').css({ "display": 'block' });
                $('.liright').hide();
            });

            $('.lileft').click(function () {
                $('.uiin').css({ "left": 0 + 'px' });
                $('.liright').css({ "display": 'block' });
                $('.lileft').hide();
            });

        })
    </script>



    <!-- 頁籤 -->
    <script>
        $(function () {
            var _showTab = 0;
            var $defaultLi = $('.Hbtn1').eq(_showTab).addClass('active');
            $('.tab_content2').eq($defaultLi.index()).siblings().hide();

            $('.Hbtn1').click(function () {

                var $this = $(this),
                    _index = $this.index();

                $this.addClass('active').siblings('.active').removeClass('active');
                $('.tab_content2').eq(_index).stop(false, true).fadeIn().siblings().hide();

                return false;
            })
        });
    </script>










    <script src='https://unpkg.com/flipping@1.1.0/dist/flipping.web.js'></script>
    <script>


        const elPrevButton = document.querySelector('#prev');
        const elNextButton = document.querySelector('#next');
        const flipping = new Flipping();

        const elImages = Array.from(document.querySelectorAll('.ui-big-image'));
        const elThumbnails = Array.from(document.querySelectorAll('.ui-thumbnail'));

        let state = {
            photo: 0
        };

        function send(event) {
            // read cuticle positions
            flipping.read();

            const elActives = document.querySelectorAll('[data-active]');

            Array.from(elActives)
                .forEach(el => el.removeAttribute('data-active'));

            switch (event) {
                case 'PREV':
                    state.photo--;
                    // Math.max(state.photo - 1, 0);
                    break;
                case 'NEXT':
                    state.photo++;
                    // Math.min(state.photo + 1, elImages.length - 1);
                    break;
                default:
                    state.photo = +event;
                    break;
            }

            var len = elImages.length;
            // Loop Around
            //state.photo = ( ( state.photo % len) + len ) % len;
            state.photo = Math.max(0, Math.min(state.photo, len - 1));

            Array.from(document.querySelectorAll(`[data-key="${state.photo}"]`))
                .forEach(el => {
                    el.setAttribute('data-active', true);
                });

            // execute the FLIP animation
            flipping.flip();
        }

        elThumbnails.forEach(thumb => {
            thumb.addEventListener('click', () => {
                send(thumb.dataset.key);
            });
        });

        elPrevButton.addEventListener('click', () => {
            send('PREV');
        });

        elNextButton.addEventListener('click', () => {
            send('NEXT');
        });

        send(0);
    </script>