<% layout('layout') %>


    <section class="fd2">

            <div class="con-mid fo2">
                <p>比較</p>
            </div>
  
    </section>






    
    <style>
        #list4 {
            color: #fff700;
            border-bottom: #9fcce2 5px solid;
            height: 60px;
        }
    </style>