<% layout('layout') %>


    <section class="fd2">
        <div class="con-mid fd2">

            <div class="comp-box fd1">

                <!-- 底下資料 可以顯示1-3筆 -->
                <div class="comp-h1 fl4">
                    <div class="comp-h1-s1 comp-bg1 fd2">車輛比較</div>
                    <div class="comp-h1-img fl5">
                        <img src="./../images/p_car02.jpg" alt="">
                    </div>
                    <div class="comp-h1-img fl5">
                        <img src="./../images/p_car01.jpg" alt="">
                    </div>
                    <div class="comp-h1-img fl5">
                        <img src="./../images/p_car03.jpg" alt="">
                    </div>
                </div>

                <div class="comp-h2">
                    <div class="comp-h2-s1 fd2">廠　牌</div>
                    <div class="comp-h2-txt fl5">HYUNDAI</div>
                    <div class="comp-h2-txt fl5">TOYOTA</div>
                    <div class="comp-h2-txt fl5">HYUNDAI</div>
                </div>

                <div class="comp-h2">
                    <div class="comp-h2-s1 fd2">車　型</div>
                    <div class="comp-h2-txt fl5">SUPER ELANTRA /2017-2019</div>
                    <div class="comp-h2-txt fl5">KONA</div>
                    <div class="comp-h2-txt fl5">ALTIS /2016-2019</div>
                </div>

                <div class="comp-h2">
                    <div class="comp-h2-s1 fd2">售　價</div>
                    <div class="comp-h2-txt fl5">45.9萬</div>
                    <div class="comp-h2-txt fl5">64.9萬</div>
                    <div class="comp-h2-txt fl5">48.8萬</div>
                </div>

                <div class="comp-h2">
                    <div class="comp-h2-s1 fd2">年　份</div>
                    <div class="comp-h2-txt fl5">2017</div>
                    <div class="comp-h2-txt fl5">2019</div>
                    <div class="comp-h2-txt fl5">2009</div>
                </div>

                <div class="comp-h2">
                    <div class="comp-h2-s1 fd2">車輛規格</div>
                    <div class="comp-h2-txt fl5">白色系、1600.cc、柴油車、手自排、4門、5人座</div>
                    <div class="comp-h2-txt fl5">黑色系、1600.cc、汽油車、自手排、5門、5人座</div>
                    <div class="comp-h2-txt fl5">白色系、1800.cc、汽油車、手自排、4門、5人座</div>
                </div>

                <div class="comp-h2">
                    <div class="comp-h2-s1 fd2">車輛配備</div>
                    <div class="comp-h2-txt fd1">
                        <h1>外觀配備</h1>
                        <p>鋁圈、電動後視鏡、後視鏡方向指示燈、空力套件</p>
                        <h1>內裝配備</h1>
                        <p>皮椅、電動窗、衛星導航、液晶螢幕、方向盤音響控制</p>
                        <h1>其　　他</h1>
                        <p>一手車、渦輪增壓、安全氣囊、渦輪增壓</p>
                        <h1>安全輔助</h1>
                        <p></p>
                    </div>
                    <div class="comp-h2-txt fd1">
                        <h1>外觀配備</h1>
                        <p>鋁圈、電動後視鏡、後視鏡方向指示燈</p>
                        <h1>內裝配備</h1>
                        <p>皮椅、電動窗、後座分離傾倒、衛星導航、多功能行車資訊顯示器、液晶螢幕、抬頭顯示器、方向盤音響控制、恆溫空調</p>
                        <h1>其　　他</h1>
                        <p>一手車、渦輪增壓、安全氣囊、渦輪增壓</p>
                        <h1>安全輔助</h1>
                        <p></p>
                    </div>
                    <div class="comp-h2-txt fd1">
                        <h1>外觀配備</h1>
                        <p>鋁圈</p>
                        <h1>內裝配備</h1>
                        <p>皮椅、電動窗</p>
                        <h1>其　　他</h1>
                        <p>安全氣囊</p>
                        <h1>安全輔助</h1>
                        <p></p>
                    </div>
                </div>

            </div>


        </div>
    </section>



    <!-- 
    <div class="comp-imgbox fl4">
                    <div class="comp-h1 comp-bg1 fd2">車輛比較</div>
                </div>
    <div class="comp-h1-img fl5">
        <img src="./../images/p_car02.jpg" alt="">
    </div> -->


    <style>
        #list4 {
            color: #fff700;
            border-bottom: #9fcce2 5px solid;
            height: 60px;
        }
    </style>