<footer class="w100 fl5">
    <div class="con-mid fo2">
        <div class="footlist fl4">
            <a href="#">免責聲明</a>
            <a href="#">服務條款</a>
            <a href="#">隱私權聲明</a>
            <a href="#">聯絡我們</a>
        </div>
        <p class="copyright">Copyright © 2021 HOCHA All Rights Reserved. 建議瀏覽器 chrome</p>
    </div>
</footer>