<section class="fd2">
    <header class="w100 fd2">
        <nav class="con-mid fo2">
            <div class="fl4">
                <img class="logo fl5" src="/images/logo.svg" alt="">
                <div class="headul l-20 fl4">
                    <a class="menuli" href="/index" id="list1">首頁</a>
                    <a class="menuli" href="/search" id="list2">我要買車</a>
                    <a class="menuli" href="/sellcar" id="list3">我要賣車</a>
                    <a class="menuli" href="/compare" id="list4">比較</a>
                    <a class="menuli" href="/booking" id="list5">預約保養</a>
                    <div class="myline"></div>
                </div>
            </div>
            <div class="userbox_s1">
                <a href="/user_signin">登入 / 註冊</a>
            </div>
        </nav>
    </header>
</section>

<div class="toprightbox fd3">
    <a href="javascript:void(0)" class="collecticon fd5">
        <img src="./../images/passion.svg" alt="">
        <span>我的收藏</span>
    </a>

    <a href="javascript:void(0)" class="compare fd5">
        <img src="./../images/front-car.svg" alt="">
        <span>車輛比較</span>
    </a>
    
    <a href="#" class="menutop">
        <img src="../images/i-38.svg" alt="">
    </a>
</div>

<!-- 我的收藏_結果 -->
<div class="resultbox-1 fd2">
    <div class="res_s1 fl5">
        <div class="closex fl5">X</div>
        <img src="./../images/p_car01.jpg" alt="">
    </div>
    <div class="res_s1 fl5">
        <div class="closex fl5">X</div>
        <img src="./../images/p_car01.jpg" alt="">
    </div>
    <div class="res_s1 fl5">
        <div class="closex fl5">X</div>
        <img src="./../images/p_car01.jpg" alt="">
    </div>
    <div class="res_s1 fl5">
        <div class="closex fl5">X</div>
        <img src="./../images/p_car01.jpg" alt="">
    </div>
    <div class="res_s1 fl5">
        <div class="closex fl5">X</div>
        <img src="./../images/p_car01.jpg" alt="">
    </div>
    <div class="res_s1 fl5">
        <div class="closex fl5">X</div>
        <img src="./../images/p_car01.jpg" alt="">
    </div>
    <div class="res_s1 fl5">
        <div class="closex fl5">X</div>
        <img src="./../images/p_car01.jpg" alt="">
    </div>
    <div class="res_s1 fl5">
        <div class="closex fl5">X</div>
        <img src="./../images/p_car01.jpg" alt="">
    </div>
    <div class="res_s1 fl5">
        <div class="closex fl5">X</div>
        <img src="./../images/p_car01.jpg" alt="">
    </div>
    <div class="res_s1 fl5">
        <div class="closex fl5">X</div>
        <img src="./../images/p_car01.jpg" alt="">
    </div>
    <div class="res_s1 fl5">
        <div class="closex fl5">X</div>
        <img src="./../images/p_car01.jpg" alt="">
    </div>
    <div class="res_s1 fl5">
        <div class="closex fl5">X</div>
        <img src="./../images/p_car01.jpg" alt="">
    </div>

</div>

<!-- 車輛比較_結果 -->
<div class="resultbox-2 fd2">
    <div class="res_s1 fl5">
        <div class="closex fl5">X</div>
        <img src="./../images/p_car01.jpg" alt="">
    </div>
    <div class="res_s1 fl5">
        <div class="closex fl5">X</div>
        <img src="./../images/p_car01.jpg" alt="">
    </div>
    <div class="res_s1 fl5">
        <div class="closex fl5">X</div>
        <img src="./../images/p_car01.jpg" alt="">
    </div>

    <a href="#" class="mbtn-1">開始比較</a>

</div>




