<% layout('layout') %>

  <!-- 輪播 -->
  <section>
    <div class="car_slide w100 fd2">
      <img src="../images/banner_01.jpg" alt="" width="100%">
    </div>
  </section>

  <!-- 首頁快速搜尋 -->
  <section class="row-10">
    <div class="searchbox w100 fd2">
      <div class="con-mid fd2">
        <img src="../images/search_bg.jpg" alt="">
      </div>
    </div>
  </section>


  <!-- 小廣告 + 最新上架 -->
  <section class="row-100">
    <div class="newcarbox w100 fd2">
      <div class="con-mid fd2">
        <img src="../images/t01.jpg" alt="">
      </div>
    </div>
  </section>












  <style>
    #list1 {
      color: #fff700;
      border-bottom: #9fcce2 5px solid;
      height: 60px;
    }
  </style>