footer {
  width: 100%;
  height: 50px;
  display: flex;
  position: fixed;
  bottom: 0;
  border-top: #34a9e2 4px solid;
  text-align: center;
  background-color: rgb(34, 34, 34);
}

.copyright {
  font-size: 10px;
  color: #9fcce2;
}

.footlist a {
  color: #fff;
}

.footlist a:hover {
  color: #9fcce2;
}

.footlist a+a {
  border-left: #999 1px solid;
  margin-left: 15px;
  padding-left: 15px;
}

/* 返回頂部 */

.toprightbox {
  position: fixed;
  z-index: 900;
  right: 0px;
  bottom: 100px;
}

.compare {
  width: 40px;
  padding: 15px 5px;
  background-color: #4284d9;
  color: #fff;
  margin-bottom: 15px;
  border-radius: 8px 0 0 8px;
  transition: 0.3s;
  position: relative;
  right: 0;
}

.compare:hover {
  background-color: #63a4fa;
}

.collecticon {
  width: 40px;
  padding: 15px 5px;
  background-color: #c90b0b;
  color: #fff;
  margin-bottom: 15px;
  border-radius: 8px 0 0 8px;
  transition: 0.3s;
  position: relative;
  right: 0;
}

.collecticon:hover {
  background-color: #e70000;
}

.collecticon span, .compare span {
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  letter-spacing: 4px;
  font-size: 0.9rem;
}

.collecticon img, .compare img {
  width: 20px;
  margin-bottom: 5px;
}

.menutop {
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #196ab8;
  transition: all 0.2s;
}

.menutop:hover {
  background-color: #003267;
}

.menutop img {
  width: 30px;
}

.resultbox-1, .resultbox-2 {
  width: 170px;
  background-color: #f5f5f5;
  padding: 20px 0;
  height: 100vh;
  position: fixed;
  z-index: 900;
  right: -170px;
  top: 0px;
  transition: all 0.3s;
  overflow-y: auto;
}

.resultbox-1.on, .resultbox-2.on {
  right: 0px;
}

.compare.on, .collecticon.on {
  right: 170px;
}

.res_s1 {
  position: relative;
}

.res_s1 img {
  width: 150px;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 10px;
}

.closex {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 5;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.mbtn-1 {
  background: #c90b0b;
  color: #fff;
  width: 150px;
  border-radius: 5px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 返回 結束 */

header {
  background: linear-gradient(0deg, #003166 0%, #1B6EBE 50%, #003166 100%);
  background: -moz-linear-gradient(0deg, #003166 0%, #1B6EBE 50%, #003166 100%);
  background: -webkit-linear-gradient(0deg, #003166 0%, #1B6EBE 50%, #003166 100%);
  background: -o-linear-gradient(0deg, #003166 0%, #1B6EBE 50%, #003166 100%);
}

.con-mid {
  width: 100%;
  max-width: 1200px;
}

.logo {
  height: 44px;
}

.headul {
  display: flex;
  padding: 7px 0;
  height: 60px;
  position: relative;
}

.headul a {
  text-align: center;
  height: 100%;
  color: rgb(255, 255, 255);
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: rgba(255, 255, 255, 0) 5px solid;
  height: 60px;
}

.myline {
  width: 0;
  height: 5px;
  background-color: #9fcce2;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  transition: all 0.3s;
}

.headul a:hover {
  color: #fff700;
}

/* 選單登入 */

.userbox_s1 a {
  color: rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 25px;
  transition: all 0.3s;
}

.userbox_s1 a:hover {
  color: rgb(0, 0, 0);
  background-color: #9fcce2;
}

/* 註冊登入 */

.log-box {
  width: 100%;
  max-width: 1125px;
  min-height: 333px;
  border-radius: 30px;
  background-color: #1b2028;
  position: relative;
  margin-top: 130px;
}

.log-title {
  width: 100%;
  position: relative;
  padding: 64px 135px 0 0;
}

.car01 {
  position: absolute;
  top: -50px;
  left: 45px;
  z-index: 50;
}

.log-txt1 {
  color: #fff;
  font-size: 1.95rem;
}

.log-inputbox {
  width: 100%;
  min-height: 333px;
  border-radius: 29px;
  margin-top: 44px;
  padding-top: 80px;
  padding-bottom: 80px;
  background: -webkit-linear-gradient(0deg, #eeeeee 0%, #d8d8d8 18%, #d8d8d8 28%, #fdfdfd 80%, #f0f0f0 100%);
}

.log-input {
  width: 95%;
  max-width: 480px;
}

.log-btnbox {
  width: 100%;
}

.Hbtn {
  background-color: #b9b9b9;
  margin-left: 5px;
  font-size: 1.1rem;
  padding: 15px 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Hbtn.active {
  background: #094685;
}

.Hbtn:hover {
  background: #094685;
}

.log-input form {
  width: 100%;
}

figure {
  margin: 0;
  box-sizing: border-box;
}

.qbox {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.qbox45 {
  margin-bottom: 45px;
}

.qbox .title {
  margin-bottom: 10px;
  font-weight: bold;
}

.in-text {
  border: solid 1px #8081ff;
  border-radius: 4px;
  outline: 0;
  padding: 10px;
  font-size: 1.1rem;
  box-sizing: border-box;
  width: 100%;
}

.in-text:focus {
  border-color: #cf7ffa;
  transition: all .6s;
}

.btn-style1 {
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.2rem;
  color: #fff;
  transition: .5s;
  background: #1b6ebe;
  border: none;
  font-weight: bold;
  padding: 10px 100px;
}

.btn-style1:hover {
  background: #094685;
}

/* 篩選開始 */

.aui-choice-screen {
  width: 1200px;
  margin: 20px auto;
  border-top: 1px solid #4ea2d1;
  border-bottom: 4px solid #4ea2d1;
}

.aui-screen-list-box dl {
  border-bottom: #abbeef 1px dashed;
  width: 100%;
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  display: flex;
}

.aui-screen-list-box dl dt {
  float: left;
  height: 30px
}

.aui-screen-list-box dl dt {
  text-align: right;
  width: 90px;
  height: 100%;
  font-weight: 600;
  line-height: 45px;
  background-color: #9fcce2;
  color: #fff;
}

.aui-screen-list-box dl dd {
  position: relative;
  padding-bottom: 5px;
  padding-left: 0px;
  float: left;
  height: 45px;
  overflow: hidden;
  padding-top: 0px;
  line-height: 45px;
}

.aui-screen-list-box dl dd a {
  line-height: 14px;
  display: inline-block;
  color: #4284d9;
  overflow: hidden;
  text-decoration: none;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  margin-top: 8px;
}

.aui-screen-list-box dl dd a:hover {
  background: #39c;
  color: #fff
}

.aui-screen-list-box dl dd a.selected {
  background: #4284d9;
  color: #fff;
}

.aui-screen-list-box dl dd span.more {
  position: absolute;
  width: 39px;
  display: block;
  height: 14px;
  top: 6px;
  cursor: pointer;
  right: 1px
}

.aui-screen-list-box dl dd span.more label {
  display: inline-block;
  cursor: pointer
}

.aui-screen-head-choice {
  border-bottom: #4ea2d1 1px solid;
  width: 100%;
  overflow: hidden;
  height: 35px;
  line-height: 22px;
}

.aui-screen-head-choice dl {
  width: 100%;
  background: #f6f8fd;
  overflow: hidden;
}

.aui-screen-head-choice dl dt {
  float: left;
}

.aui-screen-head-choice dl dd {
  display: flex;
}

.aui-screen-head-choice dl dt {
  text-align: right;
  line-height: 35px;
  width: 90px;
  height: 35px;
  font-weight: 600;
}

.aui-screen-head-choice dl dd {
  padding-bottom: 4px;
  padding-top: 2px;
}

.aui-selected-info {
  border: 1px solid #f60;
  position: relative;
  padding-bottom: 1px;
  margin: 4px 5px 0 0;
  padding-left: 5px;
  padding-right: 20px;
  display: block;
  white-space: nowrap;
  background: #fff;
  float: left;
  height: 23px;
}

.aui-selected-info label {
  color: #f60
}

.aui-selected-info span {
  font-size: 12px;
}

.aui-eliminate {
  line-height: 22px;
  margin-top: 4px;
  width: 80px;
  float: left;
  color: #f60;
  cursor: pointer;
  font-size: 12px;
}

.aui-selected-info em {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13px;
  overflow: hidden;
  position: absolute;
  right: 2px;
  top: 4px;
  background-size: 12px;
  width: 13px;
  border-radius: 50%;
  background-color: #fb0000;
  color: #fff;
  font-weight: bold;
}

.aui-sr-input {
  height: 35px;
  line-height: 35px;
  display: block;
  float: right;
  padding-top: 5px;
  color: #999;
  padding-right: 10px;
  margin-left: 50px;
}

.aui-sr-input input {
  width: 42px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #CCC;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  padding: 0;
  color: #222;
}

.aui-sr-input button {
  color: #fff;
  background: #4284d9;
  height: 25px;
  line-height: 25px;
  width: 40px;
  text-align: center;
  margin-left: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

.aui-list-pz-size {
  padding-top: 8px;
  height: auto;
  flex: 1;
  padding-left: 10px;
}

.aui-list-pz-size li {
  float: left;
  margin-right: 40px;
  padding-bottom: 5px;
  color: #3b5998;
  height: 29px;
  line-height: 29px;
}

.aui-screen-list-box .aui-aui-screen-list-item {
  height: 100px;
  border-bottom: none;
}

.aui-screen-list-box .aui-aui-screen-list-item dd {
  height: 100px;
  overflow: hidden;
}

.aui-list-pz-size li label {
  color: #4284d9;
}

.aui-list-pz-size li label input {
  margin-right: 3px;
}

/* 篩選結束 */

/* 篩選結果 開始 */

.sear-box {
  width: 100%;
  min-height: 500px;
  margin: 50px 0 120px;
  border-top: #eeeeee 1px solid;
}

.p_item {
  width: 100%;
  padding: 22px 10px 22px 0;
  border-bottom: #eeeeee 1px solid;
  transition: all 0.3s;
}

.p_item:hover {
  background-color: #f5f5f5;
}

.cimgbox {
  margin-right: 20px;
}

.sear-info {
  flex: 1;
  height: 165px;
  overflow: hidden;
  color: #333;
  padding-right: 50px;
}

.sear-info h1 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.sear-info h2 {
  color: #666;
  margin-bottom: 20px;
  line-height: 22px;
}

.sear-pricebox h1 {
  color: #f79215;
}

.sear-pricebox h1 span {
  font-size: 1.5rem;
  font-weight: bold;
}

.sear-pricebox p {
  color: #333;
  font-weight: bold;
  margin-left: 50px;
}

.sear-btnbox {
  width: 100%;
}

.sear-btnbox button {
  padding: 10px 20px;
  border: #4ea2d1 1px solid;
  border-radius: 8px;
  margin-right: 12px;
  background-color: #fff;
  cursor: pointer;
  color: #4ea2d1;
  transition: all 0.3s;
}

.sear-btnbox button:hover {
  background-color: #4ea2d1;
  border: #fff 1px solid;
  color: #fff;
}

/* 賣車 */

.sellbg {
  width: 100%;
  background: url(./../images/Red-BMW1.jpg) no-repeat center center/ 100%;
  height: calc( 100vh - 60px);
  overflow-y: auto;
}

.sell-table {
  width: 1000px;
  min-height: 444px;
  border-radius: 22px;
  background-color: rgba(0, 0, 0, 0.64);
  box-shadow: #9fcce2 0 5px 0px;
  padding: 30px;
  margin-bottom: 54px;
}

.sell-title {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #9fcce2;
}

.sell-title span {
  display: flex;
  flex: 1;
  height: 1px;
  background: #fff;
  margin-left: 20px;
}

.sell-inputbox {
  width: 88%;
  margin: 25px 0;
}

.sell-s1 {
  width: 45%;
  margin-bottom: 35px;
}

.sell-inputbox .sell-s1:nth-child(odd) {
  margin-right: 10%;
}

.sell-inputbox p {
  width: 100px;
  color: #fff;
  font-size: 15px;
}

.form-control {
  display: flex;
  flex: 1;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sell_file {
  color: #fff;
  margin: 15px 0px 0 0;
  width: 50%;
  display: flex;
}

.sellbtn2 {
  width: 100%;
  border-radius: 8px;
  background-color: #9fcce2;
  font-weight: bold;
  border: 0;
  padding: 12px 0;
  cursor: pointer;
  transition: all 0.3s;
}

.sellbtn2:hover {
  background-color: #4284d9;
}

/* 比較結果 */

.comp-box {
  width: 100%;
  min-height: 222px;
  margin-top: 40px;
  margin-bottom: 120px;
  background-color: #ececec;
  color: #333;
}

/* 第一行 */

.comp-h1, .comp-h2 {
  width: 100%;
  font-size: 0.9rem;
}

.comp-h1-s1 {
  width: 120px;
  height: 220px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 20px 0;
  background: #9fcce2 url(./../images/comp-bg1.svg) no-repeat 37px 150px / 100px;
}

.comp-h1-img {
  flex: 1;
  height: 220px;
  border-left: #9fcce2 1px solid;
}

.comp-h1-img img {
  height: 200px;
}

.comp-h2 {
  display: flex;
  justify-content: flex-start;
}

.comp-h2-s1 {
  width: 120px;
  padding: 19px 5px 0;
  font-size: 17px;
}

.comp-h2-txt {
  flex: 1;
  padding: 18px 5px;
  border-left: #9fcce2 1px solid;
}

.comp-box .comp-h2:nth-child(even) {
  background-color: #f8f8f8;
}

.comp-h2-txt h1{
  color: #ce0d0c;
  font-weight: bold;
  margin-bottom: 5px;
}

.comp-h2-txt p{
  margin-bottom: 15px;
  line-height: 1.1rem;
}
































































































