footer {
  width: 100%;
  height: 50px;
  display: flex;
  position: fixed;
  bottom: 0;
  border-top: #34a9e2 4px solid;
  text-align: center;
  background-color: rgb(34, 34, 34);
}

.copyright {
  font-size: 10px;
  color: #9fcce2;
}

.footlist a {
  color: #fff;
}

.footlist a:hover {
  color: #9fcce2;
}

.footlist a+a {
  border-left: #999 1px solid;
  margin-left: 15px;
  padding-left: 15px;
}

/* 返回頂部 */

.toprightbox {
  position: fixed;
  z-index: 900;
  right: 0px;
  bottom: 100px;
}

.compare {
  width: 40px;
  padding: 15px 5px;
  background-color: #4284d9;
  color: #fff;
  margin-bottom: 15px;
  border-radius: 8px 0 0 8px;
  transition: 0.3s;
  position: relative;
  right: 0;
}

.compare:hover {
  background-color: #63a4fa;
}

.collecticon {
  width: 40px;
  padding: 15px 5px;
  background-color: #c90b0b;
  color: #fff;
  margin-bottom: 15px;
  border-radius: 8px 0 0 8px;
  transition: 0.3s;
  position: relative;
  right: 0;
}

.collecticon:hover {
  background-color: #e70000;
}

.collecticon span, .compare span {
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  letter-spacing: 4px;
  font-size: 0.9rem;
}

.collecticon img, .compare img {
  width: 20px;
  margin-bottom: 5px;
}

.menutop {
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #196ab8;
  transition: all 0.2s;
}

.menutop:hover {
  background-color: #003267;
}

.menutop img {
  width: 30px;
}

.resultbox-1, .resultbox-2 {
  width: 170px;
  background-color: #f5f5f5;
  padding: 20px 0;
  height: 100vh;
  position: fixed;
  z-index: 900;
  right: -170px;
  top: 0px;
  transition: all 0.3s;
  overflow-y: auto;
}

.resultbox-1.on, .resultbox-2.on {
  right: 0px;
}

.compare.on, .collecticon.on {
  right: 170px;
}

.res_s1 {
  position: relative;
}

.res_s1 img {
  width: 150px;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 10px;
}

.closex {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 5;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.mbtn-1 {
  background: #c90b0b;
  color: #fff;
  width: 150px;
  border-radius: 5px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 返回 結束 */

header {
  background: linear-gradient(0deg, #003166 0%, #1B6EBE 50%, #003166 100%);
  background: -moz-linear-gradient(0deg, #003166 0%, #1B6EBE 50%, #003166 100%);
  background: -webkit-linear-gradient(0deg, #003166 0%, #1B6EBE 50%, #003166 100%);
  background: -o-linear-gradient(0deg, #003166 0%, #1B6EBE 50%, #003166 100%);
  box-shadow: rgb(0, 0, 0, 0.38) 0 2px 5px;
}

.con-mid {
  width: 100%;
  max-width: 1200px;
}

.logo {
  height: 44px;
}

.headul {
  display: flex;
  padding: 7px 0;
  height: 60px;
  position: relative;
}

.headul a {
  text-align: center;
  height: 100%;
  color: rgb(255, 255, 255);
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: rgba(255, 255, 255, 0) 5px solid;
  height: 60px;
}

.myline {
  width: 0;
  height: 5px;
  background-color: #9fcce2;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  transition: all 0.3s;
}

.headul a:hover {
  color: #fff700;
}

/* 選單登入 */

.loginbg {
  background: url(./../images/rrww.jpg) no-repeat center center;
}

.userbox_s1 a {
  color: rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 25px;
  transition: all 0.3s;
}

.userbox_s1 a:hover {
  color: rgb(0, 0, 0);
  background-color: #9fcce2;
}

/* 註冊登入 */

.log-box {
  width: 100%;
  max-width: 1125px;
  min-height: 333px;
  border-radius: 30px;
  background-color: #1b2028;
  position: relative;
  margin-top: 130px;
}

.log-title {
  width: 100%;
  position: relative;
  padding: 64px 135px 0 0;
}

.car01 {
  position: absolute;
  top: -50px;
  left: 45px;
  z-index: 50;
}

.log-txt1 {
  color: #fff;
  font-size: 1.95rem;
}

.log-inputbox {
  width: 100%;
  min-height: 333px;
  border-radius: 29px;
  margin-top: 44px;
  padding-top: 80px;
  padding-bottom: 80px;
  background: -webkit-linear-gradient(0deg, #eeeeee 0%, #d8d8d8 18%, #d8d8d8 28%, #fdfdfd 80%, #f0f0f0 100%);
}

.log-input {
  width: 95%;
  max-width: 480px;
}

.log-btnbox {
  width: 100%;
}

.Hbtn {
  background-color: #b9b9b9;
  margin-left: 5px;
  font-size: 1.1rem;
  padding: 15px 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Hbtn.active {
  background: #094685;
}

.Hbtn:hover {
  background: #094685;
}

.log-input form {
  width: 100%;
}

figure {
  margin: 0;
  box-sizing: border-box;
}

.qbox {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.qbox45 {
  margin-bottom: 45px;
}

.qbox .title {
  margin-bottom: 10px;
  font-weight: bold;
}

.in-text {
  border: solid 1px #8081ff;
  border-radius: 4px;
  outline: 0;
  padding: 10px;
  font-size: 1.1rem;
  box-sizing: border-box;
  width: 100%;
}

.in-text:focus {
  border-color: #cf7ffa;
  transition: all .6s;
}

.btn-style1 {
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.2rem;
  color: #fff;
  transition: .5s;
  background: #1b6ebe;
  border: none;
  font-weight: bold;
  padding: 10px 100px;
}

.btn-style1:hover {
  background: #094685;
}

/* 篩選開始 */

.aui-choice-screen {
  width: 1200px;
  margin: 20px auto;
  border-top: 1px solid #4ea2d1;
  border-bottom: 4px solid #4ea2d1;
}

.aui-screen-list-box dl {
  border-bottom: #abbeef 1px dashed;
  width: 100%;
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  display: flex;
}

.aui-screen-list-box dl dt {
  float: left;
  height: 30px
}

.aui-screen-list-box dl dt {
  text-align: right;
  width: 90px;
  height: 100%;
  font-weight: 600;
  line-height: 45px;
  background-color: #9fcce2;
  color: #fff;
}

.aui-screen-list-box dl dd {
  position: relative;
  padding-bottom: 5px;
  padding-left: 0px;
  float: left;
  height: 45px;
  overflow: hidden;
  padding-top: 0px;
  line-height: 45px;
}

.aui-screen-list-box dl dd a {
  line-height: 14px;
  display: inline-block;
  color: #4284d9;
  overflow: hidden;
  text-decoration: none;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  margin-top: 8px;
}

.aui-screen-list-box dl dd a:hover {
  background: #39c;
  color: #fff
}

.aui-screen-list-box dl dd a.selected {
  background: #4284d9;
  color: #fff;
}

.aui-screen-list-box dl dd span.more {
  position: absolute;
  width: 39px;
  display: block;
  height: 14px;
  top: 6px;
  cursor: pointer;
  right: 1px
}

.aui-screen-list-box dl dd span.more label {
  display: inline-block;
  cursor: pointer
}

.aui-screen-head-choice {
  border-bottom: #4ea2d1 1px solid;
  width: 100%;
  overflow: hidden;
  height: 35px;
  line-height: 22px;
}

.aui-screen-head-choice dl {
  width: 100%;
  background: #f6f8fd;
  overflow: hidden;
}

.aui-screen-head-choice dl dt {
  float: left;
}

.aui-screen-head-choice dl dd {
  display: flex;
}

.aui-screen-head-choice dl dt {
  text-align: right;
  line-height: 35px;
  width: 90px;
  height: 35px;
  font-weight: 600;
}

.aui-screen-head-choice dl dd {
  padding-bottom: 4px;
  padding-top: 2px;
}

.aui-selected-info {
  border: 1px solid #f60;
  position: relative;
  padding-bottom: 1px;
  margin: 4px 5px 0 0;
  padding-left: 5px;
  padding-right: 20px;
  display: block;
  white-space: nowrap;
  background: #fff;
  float: left;
  height: 23px;
}

.aui-selected-info label {
  color: #f60
}

.aui-selected-info span {
  font-size: 12px;
}

.aui-eliminate {
  line-height: 22px;
  margin-top: 4px;
  width: 80px;
  float: left;
  color: #f60;
  cursor: pointer;
  font-size: 12px;
}

.aui-selected-info em {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13px;
  overflow: hidden;
  position: absolute;
  right: 2px;
  top: 4px;
  background-size: 12px;
  width: 13px;
  border-radius: 50%;
  background-color: #fb0000;
  color: #fff;
  font-weight: bold;
}

.aui-sr-input {
  height: 35px;
  line-height: 35px;
  display: block;
  float: right;
  padding-top: 5px;
  color: #999;
  padding-right: 10px;
  margin-left: 50px;
}

.aui-sr-input input {
  width: 42px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #CCC;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  padding: 0;
  color: #222;
}

.aui-sr-input button {
  color: #fff;
  background: #4284d9;
  height: 25px;
  line-height: 25px;
  width: 40px;
  text-align: center;
  margin-left: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

.aui-list-pz-size {
  padding-top: 8px;
  height: auto;
  flex: 1;
  padding-left: 10px;
}

.aui-list-pz-size li {
  float: left;
  margin-right: 40px;
  padding-bottom: 5px;
  color: #3b5998;
  height: 29px;
  line-height: 29px;
}

.aui-screen-list-box .aui-aui-screen-list-item {
  height: 100px;
  border-bottom: none;
}

.aui-screen-list-box .aui-aui-screen-list-item dd {
  height: 100px;
  overflow: hidden;
}

.aui-list-pz-size li label {
  color: #4284d9;
}

.aui-list-pz-size li label input {
  margin-right: 3px;
}

/* 篩選結束 */

/* 篩選結果 開始 */

.sear-box {
  width: 100%;
  min-height: 500px;
  margin: 50px 0 120px;
  border-top: #eeeeee 1px solid;
}

.p_item {
  width: 100%;
  padding: 22px 10px 22px 0;
  border-bottom: #eeeeee 1px solid;
  transition: all 0.3s;
}

.p_item:hover {
  background-color: #f5f5f5;
}

.cimgbox {
  margin-right: 20px;
}

.cimgbox img {
  height: 200px;
  width: 277px;
}

.sear-info {
  flex: 1;
  height: 165px;
  overflow: hidden;
  color: #333;
  padding-right: 50px;
}

.sear-info h1 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.sear-info h2 {
  color: #666;
  margin-bottom: 20px;
  line-height: 22px;
}

.sear-pricebox h1 {
  color: #f79215;
}

.sear-pricebox h1 span {
  font-size: 1.5rem;
  font-weight: bold;
}

.sear-pricebox p {
  color: #333;
  font-weight: bold;
  margin-left: 50px;
}

.sear-btnbox {
  width: 100%;
}

.sear-btnbox button {
  padding: 10px 20px;
  border: #4ea2d1 1px solid;
  border-radius: 8px;
  margin-right: 12px;
  background-color: #fff;
  cursor: pointer;
  color: #4ea2d1;
  transition: all 0.3s;
}

.sear-btnbox button:hover {
  background-color: #4ea2d1;
  border: #fff 1px solid;
  color: #fff;
}

.seartablebtn {
  padding: 15px 0;
  border-top: #f0f0f0 1px solid;
}

/* 賣車 */

.sellbg {
  width: 100%;
  background: url(./../images/Red-BMW1.jpg) no-repeat center center/ 100%;
  height: calc( 100vh - 60px);
  overflow-y: auto;
}

.sell-table {
  width: 1000px;
  min-height: 444px;
  border-radius: 22px;
  background-color: rgba(0, 0, 0, 0.64);
  box-shadow: #9fcce2 0 5px 0px;
  padding: 30px;
  margin-bottom: 54px;
}

.sell-title {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #9fcce2;
}

.sell-title span {
  display: flex;
  flex: 1;
  height: 1px;
  background: #fff;
  margin-left: 20px;
}

.sell-inputbox {
  width: 88%;
  margin: 25px 0;
}

.sell-s1 {
  width: 45%;
  margin-bottom: 35px;
}

.sell-inputbox .sell-s1:nth-child(odd) {
  margin-right: 10%;
}

.sell-inputbox p {
  width: 100px;
  color: #fff;
  font-size: 15px;
}

.form-control {
  display: flex;
  flex: 1;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sell_file {
  color: #fff;
  margin: 15px 0px 0 0;
  width: 50%;
  display: flex;
}

.sellbtn2 {
  border-radius: 8px;
  background-color: #9fcce2;
  font-weight: bold;
  border: 0;
  padding: 12px 0;
  cursor: pointer;
  transition: all 0.3s;
}

.sellbtn2:hover {
  background-color: #4284d9;
}

/* 比較結果 */

.comp-box {
  width: 100%;
  min-height: 222px;
  margin-top: 40px;
  margin-bottom: 120px;
  background-color: #ececec;
  color: #333;
}

/* 第一行 */

.comp-h1, .comp-h2 {
  width: 100%;
  font-size: 0.9rem;
}

.comp-h1-s1 {
  width: 120px;
  height: 220px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 20px 0;
  background: #9fcce2 url(./../images/comp-bg1.svg) no-repeat 37px 150px / 100px;
}

.comp-h1-img {
  flex: 1;
  height: 220px;
  border-left: #9fcce2 1px solid;
}

.comp-h1-img img {
  height: 200px;
}

.comp-h2 {
  display: flex;
  justify-content: flex-start;
}

.comp-h2-s1 {
  width: 120px;
  padding: 19px 5px 0;
  font-size: 17px;
}

.comp-h2-txt {
  flex: 1;
  padding: 18px 5px;
  border-left: #9fcce2 1px solid;
}

.comp-box .comp-h2:nth-child(even) {
  background-color: #f8f8f8;
}

.comp-h2-txt h1 {
  color: #ce0d0c;
  font-weight: bold;
  margin-bottom: 5px;
}

.comp-h2-txt p {
  margin-bottom: 15px;
  line-height: 1.1rem;
}

/* 保養 */

.service-section-bg {
  background-attachment: fixed;
  background: url(./../images/service-section-bg.jpg) no-repeat center bottom / 1920px;
  height: calc(100vh - 120px);
  overflow-y: auto;
}

.bookbox {
  width: 95%;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 18px;
  padding: 35px 0;
  min-height: 250px;
  margin-top: 40px;
  margin-bottom: 330px;
  box-shadow: #9fcce2 0 5px 0px;
}

.bookbox h1 {
  font-size: 24px;
}

.bookbox h1 span {
  color: #4ea2d1;
  font-weight: bold;
}

.bookbox h1::before {
  content: "";
  display: flex;
  width: 30px;
  margin-right: 30px;
  height: 2px;
  background-color: #4ea2d1;
}

.uk-margin-large-top {
  margin: 35px 0 30px 5%;
  width: 90%;
  font-size: 18px;
  position: relative;
  padding-bottom: 20px;
  border-bottom: #bebebe 1px solid;
}

.uk-margin-large-top::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 32px;
  height: 3px;
  background-color: #4ea2d1;
}

.uk-text-danger {
  color: #d85030;
  font-size: 14px;
  padding-left: 10px;
}

.bookform {
  width: 90%;
  margin-left: 5%;
}

.uk-form-label {
  width: 33%;
  margin-bottom: 25px;
}

.uk-form-label p {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}

.bk-form-control {
  display: flex;
  width: 90%;
  padding: 11px 12px;
  font-size: 15px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: 0.3s;
}

.bk-form-control-1 {
  display: flex;
  width: 100%;
  padding: 11px 12px;
  font-size: 15px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: 0.3s;
}

.bk-form-control:focus, .bk-form-control-1:focus {
  border: 1px solid #4ea2d1;
  background-color: #eff8ff;
}

.bk-form-control::placeholder {
  color: rgb(204, 204, 204);
}

/* 麵包屑 */

.breadCrumb {
  color: #999;
  height: 50px;
  background-color: #f5f5f5;
}

.breadCrumb a {
  font-size: 14px;
  color: #999;
}

/* 焦點圖  start*/

#app {
  width: 600px;
  height: 550px;
  display: flex;
  overflow: hidden;
  position: relative;
}

.ui-big-images {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  position: absolute;
}

.ui-big-image {
  width: 100%;
  margin-right: -100%;
}

.ui-big-image img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 600px;
  height: 450px;
  display: block;
  background-color: #9fcce2;
}

.uiin {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}

@media (max-height: 600px) {
  .ui-big-image img {
    -o-object-position: center center;
    object-position: center center;
  }
}

.ui-thumbnails {
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}

.ui-thumbnail {
  display: block;
  margin-right: 7px;
  cursor: pointer;
  border: transparent 2px solid;
}

.ui-thumbnail:hover {
  border: #9fcce2 2px solid;
  box-sizing: border-box;
}

.ui-cuticle {
  background-color: #D4A12D;
  position: absolute;
  height: .25rem;
  width: 110px;
}

.ui-thumbnail>img {
  width: 110px;
  height: 73px;
  object-fit: cover;
}

.ui-content {
  position: absolute;
  width: 100%;
  left: 0;
  top: 46%;
}

.lileft {
  position: absolute;
  width: 35px;
  height: 73px;
  left: 0;
  top: 473px;
  color: #FFF;
  font-size: 35px;
  font-family: monospace;
  transition: inherit;
  transition-duration: 300ms;
  z-index: 55;
  background-color: rgba(0, 0, 0, 0.5);
}

.lileft:hover {
  background-color: #D4A12D;
}

.liright {
  position: absolute;
  width: 35px;
  height: 73px;
  right: 0;
  top: 473px;
  color: #FFF;
  font-size: 35px;
  font-family: monospace;
  transition: inherit;
  transition-duration: 300ms;
  z-index: 55;
  background-color: rgba(0, 0, 0, 0.5);
}

.liright:hover {
  background-color: #D4A12D;
}

.ui-articles {
  background: #493e56;
  color: white;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

.ui-article {
  padding: 1.5rem;
  width: 100%;
  margin-right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ui-paragraph {
  margin: 0;
  font-size: .7rem;
  line-height: 1.7;
}

.ui-nav {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 100%;
  background: inherit;
}

.ui-nav button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 35px;
  width: 40px;
  height: 73px;
  color: #FFF;
  font-family: monospace;
  transition: inherit;
  transition-duration: 300ms;
}

.ui-nav button:hover, .ui-nav button:focus {
  background: #D4A12D;
  outline: none;
}

.ui-nav button:active {
  outline: none;
  transition-duration: 100ms;
}

.ui-heading {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}

.ui-heading:before {
  content: 'Animator';
  font-size: .5rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: .5rem;
  letter-spacing: 1px;
}

/* ---------------------------------- */

.ui-big-image {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.ui-big-image img {
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
}

.ui-big-image[data-active]~.ui-big-image {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.ui-big-image[data-active] {
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.ui-big-image[data-active] img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* ---------------------------------- */

.ui-article {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.ui-article:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #D4A12D;
  opacity: 1;
  transition-duration: 0.35s;
  z-index: 1;
}

.ui-article[data-active]~.ui-article {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.ui-article[data-active] {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.ui-article[data-active]:before {
  opacity: 0;
}

/* ---------------------------------- */

.ui-thumbnail:active>img {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  transition-duration: 100ms;
}

.ui-thumbnail:focus {
  outline: none;
}

.ui-cuticle {
  display: none;
}

.ui-thumbnail[data-active]>img, .ui-thumbnail:hover>img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.ui-thumbnail[data-active] .ui-cuticle {
  display: block;
}

/* ---------------------------------- */

/* 焦點圖 end */

/* 內頁右側 */

.acrliright {
  flex: 1;
  padding: 10px 0 10px 50px;
}

.infos-head-title {
  font-size: 25px;
  color: #333;
  font-weight: bold;
  line-height: 34px;
}

.infos-head-desp {
  font-size: 14px;
  color: #999;
  margin: 18px 0;
}

.car-price-box {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  color: #e00e0d;
  font-size: 22px;
  padding-bottom: 10px;
  border-bottom: #ececec 1px solid;
}

.car-price-box b {
  font-size: 30px;
}

.infos-head-text {
  color: #999;
  padding: 20px 0;
}

.infos-head-text>div {
  margin-bottom: 12px;
}

.line-btn {
  width: 160px;
  height: 50px;
  border-radius: 5px;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  background: #00C300;
  text-decoration: none;
  cursor: pointer;
}

.line-btn-1 {
  width: 160px;
  height: 50px;
  border-radius: 5px;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  background: #b10000;
  text-decoration: none;
  cursor: pointer;
  margin-left: 12px;
}

.carcontact {
  color: #333;
  font-size: 22px;
  width: 100%;
  font-weight: bold;
  margin-top: 30px;
}

.carcontact span {
  color: #FD641C;
  font-size: 22px;
  margin-left: 20px;
  font-weight: normal;
}





/* 車輛配備 */
.Hbtn1 {
  background-color: #b9b9b9;
  margin-left: 5px;
  font-size: 1.1rem;
  padding: 15px 50px;
  color: #fff;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Hbtn1.active {
  background: #094685;
}

.Hbtn1:hover {
  background: #094685;
}

.tab_content2{
  width: 100%;
  margin-top: 30px;
  padding: 0 20px;
}

.cartitle{
  width: 100%;
  color: #b10000;
  background: url(./../images/cartitle.svg) no-repeat center left;
  padding-left: 30px;
  margin-top: 10px;
}

.secTitle{
  margin-top: 5px;
  padding-left: 40px;
  color: #333;
}

.secTitle h1{
  font-weight: bold;
  margin: 20px 0;
}

.secTitle h1::after{
  content: "";
  flex: 1;
  height: 1px;
  border-bottom: #999 1px dotted;
  display: flex;
  margin-left: 12px;
}

.secTitleli{
  width: 100%;
  margin-bottom: 12px;
}

.secTitleli p{
  width: 20%;
  background: url(./../images/bgCarSpecUnchecked.png) no-repeat center left;
  padding-left: 20px;
  margin-bottom: 20px;
}

.secTitleli p.sec_ok{
  background: url(./../images/bgCarSpecChecked.png) no-repeat center left;
}

.sec_downtxt{
  width: 33%;
  margin: 20px 0 10px;
}

.sec_downtxt span{
  margin-left: 20px;
}

.tab_content img, .tab_content2 img{
  max-width: 100%;
}




